.main-body {
  color: #444649;
}

.col2-list {
  list-style: none;
  color: #70757a;
  padding: 0;
  margin: 0;
  text-align: center;
}
.col1-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.units {
  font-size: 12px;
}
.units-high {
  position: relative;
  top: -38px;

  font-size: 15px;
}
.units-low {
  position: relative;
  top: -15px;
}

.high-temp-day1 {
  font-size: 65px;
}

.last-updated {
  padding-top: 30px;
  list-style: none;
  color: #70757a;
}

.last-updated .current-time {
  font-weight: bold;
  color: #444649;
}

.low-temp {
  font-size: smaller;
}
.low-temp-day1 {
  font-size: 30px;
  font-weight: lighter;
  display: block;
  text-align: left;
  margin-left: 20px;
}
.main-app {
  border: solid 1px;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 20px;
  max-width: 600px;
}

.search-bar {
  margin: 10px 0 20px 20px;
}

.sunrise-sunset {
  margin-top: 10px;
}
.sunrise-icon {
  color: #fdc400;
}
.sunset-icon {
  color: #4f81c7;
}
.temp-day1 {
  font-size: larger;
}

.title-city {
  text-transform: capitalize;
  font-weight: bold;
  font-size: 40px;
}
.temperature-list {
  display: inline;
  margin: 0;
  padding: 0;
}
.today {
  font-size: 30px;
}

.weather-icon-day1 {
  font-size: 10px;
}

.weather-description {
  font-size: 20px;
  color: #70757a;
  max-width: 10em;
  text-align: center;
}
.weather-description:first-letter {
  text-transform: capitalize;
}

.wind,
.humidity {
  color: #444649;
}

.weather-temperature .active {
  color: #444649;
  cursor: default;
  text-decoration: none;
}

.farenheit,
.celsius {
  text-decoration: none;
}
