.card-group {
  text-align: center;
}

.week-display.card {
  transition: all 0.3s ease-in-out;
}
.card-title {
  margin-top: 0;
}

.day1-list {
  list-style: none;
  padding-left: 0px;
  margin: 0 auto;
}

.day1-details {
  padding-top: 50px;
}
.day1-temp {
  text-align: center;
}

.units {
  font-size: 12px;
}
.units-high {
  position: relative;
  top: -30px;
  left: -10px;
  font-size: 15px;
}
.units-low {
  position: relative;
  top: -15px;
}

.units-week {
  position: relative;
  top: -5px;
}
.high-temp {
  font-size: larger;
}
.high-temp-day1 {
  font-size: 70px;
}
.last-updated {
  padding-top: 20px;
  font-weight: bold;
}

.low-temp {
  font-size: smaller;
}
.low-temp-day1 {
  font-size: 40px;
  font-weight: lighter;
}
.main-app {
  border: solid 1px;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 20px;
  max-width: 600px;
}

.search-bar {
  margin: 10px 0 20px 20px;
}

.sunrise-sunset {
  margin-top: 10px;
}
.sunrise-icon {
  color: #fdc400;
}
.sunset-icon {
  color: #4f81c7;
}
.temp-day1 {
  text-align: center;
  font-size: larger;
}

.title-city {
  text-transform: capitalize;
}

.weather-icon-day1 {
  font-size: 80px;
  margin-top: 20px;
}
.weather-icon {
  font-size: 30px;
}

.week-display {
  display: flex;
  padding-top: 10px;
}

.zoom {
  transition: transform 0.2s;
}
.zoom:hover {
  transform: scale(1.05);
  cursor: pointer;
}
