.card-group {
  text-align: center;
}

.card-group.card {
  transition: all 0.3s ease-in-out;
  display: block;
  margin: 0 auto;
  padding: 10px;
}
.card-title {
  margin-top: 0;
}
.units {
  font-size: 15px;
}
.units-high {
  position: relative;
  top: -18px;
}
.units-low {
  position: relative;
  top: -8px;
}
.high-temp {
  font-size: larger;
}
.high-temp-day1 {
  font-size: 50px;
}
.low-temp {
  font-size: smaller;
}
.low-temp-day1 {
  font-size: 25px;
}
.main-app {
  border: solid 1px;
  border-radius: 5px;
  background-color: rgba(187, 228, 233, 0.3);
  margin-top: 10px;
  margin-bottom: 20px;
}
.precip-col {
  margin-left: 0px;
  text-align: left;
}
.search-bar {
  margin: 10px 0 20px 20px;
}

.sunrise-icon {
  color: #fdc400;
}
.sunset-icon {
  color: #4f81c7;
}
.temp-day1 {
  text-align: center;
  font-size: larger;
}

.title-city {
  text-transform: capitalize;
}
.weather-day1 {
  text-align: center;
}
.weather-icon-day1 {
  font-size: 60px;
  position: relative;
  top: 20px;
}
.weather-icon {
  font-size: 30px;
  margin-bottom: 5px;
}

.week-display {
  display: flex;
  margin: 30px 0 15px 0;
}

.zoom {
  transition: transform 0.2s;
}
.zoom:hover {
  transform: scale(1.05);
  cursor: pointer;
}
